.form-control {
    width: 90%;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    padding-bottom: 7px;
    box-sizing: border-box;
}

.form-control label {
    font-weight: 500;
    margin-left: 10px;
}

.form-control input, select {
    width: 95%;
    box-sizing: border-box;
    padding: 7px;
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid #DCDCDC;
    font-weight: 600;
    border-radius: 3px;
}

.form-control span {
    color: red;
    margin-left: 10px;
}

.form-control input:focus, select:focus {
    outline: 1px solid #DCDCDC;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.active {
    background-color: paleturquoise;
 
}